.partners{
    padding: 175px 0px 179px 0px;
    position: relative;
    &__title{
        margin-bottom: 60px;
    }
    &::after{
        position: absolute;
        content:'';
        height: 74px;
        width: 100%;
        bottom: -1px;
        left: 0;
        background-image: url('../../images/bg-decor-top.png');
    }
    &::before{
        position: absolute;
        content:'';
        height: 74px;
        width: 100%;
        top: 0;
        left: 0;
        background-image: url('../../images/bg-decor-top-02.png');
    }
    &__item{
        margin-right: 40px;
    }
}